* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 30px auto 0;
}
h3 {
  margin: 15px;
}
.description,
.gameRules {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  width: 600px;
  margin-top: 10px;
  padding: 20px;
  /* text-align: justify; */
  align-items: center;
  background-color: white;
}
.descrBtn,
.rulesBtn,
.genBtn,
.startBtn,
.resetBtn {
  width: 150px;
}

.boardGenerator {
  border: 1px solid black;
  width: 600px;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
}
.boardHeight,
.boardWidth,
.numOfGens,
.gameSpeed {
  margin: 10px 0;
}

input {
  width: 60px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
button {
  background-color: white;
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 18px;
  background-color: #ebedf9;
  cursor: pointer;
  outline: none;
}
.gameInputs {
  border: 1px solid black;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
}
.startBtn,
.resetBtn {
  margin: 20px 20px 0 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebedf9;
}
.bold {
  font-weight: bold;
}

/* -------------------- board styles ------------------- */
.board {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
}
.row {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: fit-content;
  border: 1px solid black;
}
.column {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
.living {
  background-color: black;
}

/* -------------------- footer ------------------- */

footer {
  border: 1px solid black;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
}
